<% if administrator_signed_in? %>
  <%= link_to 'logout', destroy_session_path, data: { confirm: "Are you sure?" }, method: :delete %>
<% end %>
<hr />

<h1>Dashboard</h1>
<p>This is the dashboard</p>

